<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gimbal-airship-adapter" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<name>Airship Adapter</name>
    <description>Gimbal Airship Adapter Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,gimbal,airship</keywords>
    <repo>https://github.com/gimbalinc/airship-adapter-cordova</repo>
    <issue>https://github.com/gimbalinc/airship-adapter-cordova/issues</issue>

	<js-module name="adapter" src="www/AirshipAdapter.js">
		<clobbers target="Gimbal" />
	</js-module>

    <engines>
        <engine name="cordova-android" version=">=11.0.0" />
        <engine name="cordova-ios" version=">=6.2.0" />
    </engines>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AirshipAdapter">
				<param name="android-package" value="com.gimbal.airship.AirshipAdapterPlugin" />
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<source-file src="src/android/AirshipAdapterPlugin.java" target-dir="src/com/gimbal/airship/" />

		<framework custom="true" src="src/android/plugin.gradle" type="gradleReference"/>
	</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AirshipAdapter">
                <param name="ios-package" value="AirshipAdapterPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/AirshipAdapterPlugin.h" />
        <source-file src="src/ios/AirshipAdapterPlugin.m" />
        
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org"/>
            </config>
            <pods use-frameworks="true">
              <pod name="GimbalAirshipAdapter" spec="2.1.1"/>
            </pods>
        </podspec>
    </platform>
</plugin>
